# list all your hard requirements here

# pip package upgrade tools
pip-tools

# Flask: the main web framework
flask
flask-bootstrap
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf

# database connector
pymysql
psycopg2

# amivapi connector
requests
